In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('./data_sf.csv')

In [8]:
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [9]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Belgium      3
Uruguay      3
Germany      3
Argentina    3
France       2
Italy        1
Brazil       1
Croatia      1
Slovenia     1
Poland       1
England      1
Portugal     1
Name: Nationality, dtype: int64

In [10]:
df['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
Padova               29
De Graafschap        29
Vissel Kobe          29
                     ..
Cruzeiro              8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [11]:
p = df['Position'].value_counts(normalize=True)
p[p >= 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [12]:
p[p < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [13]:
small_df = df[df.columns[0:7]].head(25)

In [14]:
s = small_df['Wage'].value_counts(bins=4)

In [15]:
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [16]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [17]:
s.index[3].left

447250.0

В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [18]:
df['FKAccuracy'].value_counts(bins=100/20)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [19]:
s = df['Nationality'].value_counts()

In [20]:
s.index.unique()

Index(['England', 'Germany', 'Spain', 'France', 'Argentina', 'Italy',
       'Colombia', 'Japan', 'Brazil', 'China PR',
       ...
       'Lebanon', 'Jordan', 'Philippines', 'Guam', 'Belize', 'Malta',
       'Ethiopia', 'Palestine', 'Mauritius', 'Central African Rep.'],
      dtype='object', length=156)

In [21]:
len(df['Position'].value_counts())

27

# 2.6

1. У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

In [22]:
df[df.Nationality == 'Spain'].Wage.value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

2. Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [23]:
df[df.Club == 'Manchester United'].Nationality.nunique()

13

3. С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [24]:
df[(df.Nationality == 'Brazil') & (df.Club == 'Juventus')].Name

64      Alex Sandro
65    Douglas Costa
Name: Name, dtype: object

4. Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [25]:
df[df.Age > 35].Club.value_counts()

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Nagoya Grampus                3
Estudiantes de La Plata       3
Benevento                     3
                             ..
AJ Auxerre                    1
Al Taawoun                    1
Macclesfield Town             1
Zagłębie Sosnowiec            1
Foggia                        1
Name: Club, Length: 212, dtype: int64

5. С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

In [26]:
df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

6. Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [27]:
df[df.Nationality == 'Spain'].Age.value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

# 2.7

In [28]:
df.groupby(['Club']).groups

4, 10814],
            dtype='int64'),
 'Stade Malherbe Caen': Int64Index([  498,   843,   987,  1098,  1364,  2197,  2487,  3235,  3342,
              5141,  6178,  6559,  8701, 10315, 12810],
            dtype='int64'),
 'Stade Rennais FC': Int64Index([438, 551, 660, 780, 1021, 1026, 1320, 1425, 1964, 7248, 9640, 9648,
             9915],
            dtype='int64'),
 'Stade de Reims': Int64Index([  978,  1865,  2071,  3248,  5187,  5562,  5827,  7089,  8517,
              9320, 11231, 11922, 12086, 12150],
            dtype='int64'),
 'Standard de Liège': Int64Index([655, 872, 1081, 1210, 1621, 1683, 3616, 3719, 3901, 4085, 8196,
             9508, 9906],
            dtype='int64'),
 'Stevenage': Int64Index([ 2731,  6955,  7274,  7311,  7640,  8319,  8485,  8835,  9177,
              9267,  9684,  9893, 10212, 10318, 10984, 11018, 11127, 11161,
             11384, 11418, 11533, 12131, 12413, 12453, 12461, 12606, 12839,
             12840],
            dtype='int64'),
 'Stoke City': Int64Index([308, 940, 1147, 1215, 4884, 5728, 6395, 7608, 8339, 8738, 9108,
             9532],
            dtype='int64'),
 'Strømsgodset IF': Int64Index([ 2795,  2912,  4649,  4733,  5445,  5770,  6833,  7262,  7281,
              7290,  7806,  7938,  8704, 10551, 11458, 11487, 11658, 11661,
             11903],
            dtype='int64'),
 'Sunderland': Int64Index([ 2145,  2326,  2814,  3197,  3432,  3509,  3632,  4091,  4674,
              4749,  5385,  5594,  8090,  9829,  9836, 10123, 11184, 11880,
             12034, 12091],
            dtype='int64'),
 'Suwon Samsung Bluewings': Int64Index([ 1093,  1363,  1666,  1965,  3109,  3374,  3649,  3983,  4472,
              4499,  4744,  4830,  4979,  5196,  5539,  6846,  7199,  8725,
              9356, 10064, 10398, 10622],
            dtype='int64'),
 'Swansea City': Int64Index([805, 1138, 1376, 3384, 3394, 6500, 7596, 8442, 8780, 9396, 9608,
             10174, 10464],
            dtype='int64'),
 'Swindon Town': Int64Index([ 3911,  5404,  6235,  6747,  6764,  6961,  7207,  7521,  7977,
              7999,  8054,  8810,  9034,  9174,  9266,  9682, 10088, 11238,
             11707, 11860, 11982, 12206, 12498, 12608, 12834, 12890],
            dtype='int64'),
 'Sydney FC': Int64Index([  866,  1615,  2554,  2685,  2729,  2816,  2823,  3036,  7592,
              7681,  7970,  9463,  9531,  9683, 10669, 11392, 11662, 11672,
             12219, 12417, 12421, 12582],
            dtype='int64'),
 'SønderjyskE': Int64Index([ 2988,  3291,  3707,  4263,  4656,  4693,  6035,  6263,  7024,
              7112,  7393,  7825,  8096,  8641,  8699,  8981,  9862, 10044,
             10664, 11327, 11394, 11655, 11680, 12326, 12709, 12797, 12844],
            dtype='int64'),
 'TSG 1899 Hoffenheim': Int64Index([  169,   196,   307,   389,   418,   609,   716,   760,   773,
               946,   981,  1166,  1323,  4021,  4995,  6910,  7893,  9414,
              9662, 10572],
            dtype='int64'),
 'TSV 1860 München': Int64Index([ 2690,  3310,  4469,  4654,  5366,  5427,  5866,  6072,  6671,
              7497,  7500,  7653,  8044,  8186,  8327,  8418,  8924,  8939,
              9038,  9246,  9540,  9565, 10221, 11283, 11461, 12794],
            dtype='int64'),
 'TSV Hartberg': Int64Index([ 4340,  5431,  5969,  6038,  6429,  6570,  6866,  7253,  7601,
              7705,  8231,  8412,  8948,  9279,  9297,  9457,  9842,  9867,
              9898, 10400, 10446, 10684, 11301, 11810, 12163, 12783],
            dtype='int64'),
 'Tianjin Quanjian FC': Int64Index([ 2277,  3021,  3706,  4115,  4380,  5149,  5284,  6449,  6453,
              7579,  7594,  8966,  9214,  9497, 10350, 10598, 10872, 11279,
             11920, 12183, 12352, 12551, 12764, 12767, 12857],
            dtype='int64'),
 'Tianjin TEDA FC': Int64Index([ 5962,  6422,  6457,  8121,  8234,  8352,  8879,  9136,  9331,
              9550,  9611,  9859, 10107, 10125, 10229, 11567, 11594, 11626,
             11628, 11939, 11962, 12100, 12145, 12642, 12746, 12825],
            dtype='int64'),
 'Tiburones Rojos de Veracruz': Int64Index([ 1501,  1894,  2106,  2624,  2746,  3200,  3269,  3564,  3647,
              4103,  5192,  5215,  5727,  6298,  6865,  9232,  9621, 10570,
             11025, 11030, 11849, 12012, 12731],
            dtype='int64'),
 'Tigres U.A.N.L.': Int64Index([ 341,  381,  553,  591,  726,  776,  921, 1046, 1914, 3884, 4100,
             7880, 8342, 8721, 9039, 9052, 9082, 9306, 9310, 9412, 9983],
            dtype='int64'),
 'Torino': Int64Index([200, 252, 320, 325, 538, 585, 736, 982, 1859, 6170, 10006, 10392], dtype='int64'),
 'Toronto FC': Int64Index([  216,   763,  1317,  1590,  2776,  3195,  3712,  5060,  5485,
              5636,  5801,  6137,  6761,  6925,  8094,  9424,  9899,  9999,
             12595, 12596],
            dtype='int64'),
 'Tottenham Hotspur': Int64Index([  16,   31,   37,   51,   71,  110,  117,  123,  164,  184,  275,
              594,  648,  922, 1150, 6169, 6404, 8526, 9260, 9276, 9284],
            dtype='int64'),
 'Toulouse Football Club': Int64Index([518, 1380, 1453, 1545, 2441, 5480, 6073, 6386, 6550, 8448, 9490,
             9579, 10105],
            dtype='int64'),
 'Trabzonspor': Int64Index([ 444,  817, 1011, 1824, 2015, 2523, 3403, 3424, 5483, 5959, 6677,
             6766, 6863, 8009, 8694, 8769, 8945],
            dtype='int64'),
 'Tranmere Rovers': Int64Index([ 4454,  6591,  6895,  8396,  8579,  8713,  8820,  9253,  9285,
              9399,  9901, 10005, 10239, 10257, 10429, 10455, 10583, 10706,
             11049, 11179, 11286, 11378, 12187, 12507, 12847, 12895, 12896],
            dtype='int64'),
 'Trelleborgs FF': Int64Index([ 5363,  5850,  6484,  7303,  7410,  7688,  7848,  8132,  8332,
              8434,  8472,  8588,  8633,  8682,  9530,  9919, 10255, 10359,
             10459, 10789, 10973, 11103, 11213, 11981, 12162, 12601, 12893],
            dtype='int64'),
 'Tromsø IL': Int64Index([ 2206,  3836,  5102,  5832,  5833,  6087,  6128,  6389,  6504,
              6890,  7188,  7415,  7547,  9607, 11265, 11425, 11472, 12529],
            dtype='int64'),
 'U.N.A.M.': Int64Index([ 1748,  3386,  3475,  5184,  5514,  6697,  6722,  7176,  7266,
              8208,  8219,  9299, 10209, 10689, 10753, 11097],
            dtype='int64'),
 'UD Almería': Int64Index([ 1726,  2424,  2763,  3028,  3399,  3409,  3818,  4106,  4240,
              4389,  4687,  5227,  5701,  6015,  6462,  6499,  7067,  7720,
              7841,  8059,  8138,  9609, 10054, 10473],
            dtype='int64'),
 'UD Las Palmas': Int64Index([1173, 1239, 1457, 1704, 2779, 3134, 4917, 5000, 5664, 7047, 8205,
             8927],
            dtype='int64'),
 'US Cremonese': Int64Index([ 1728,  1981,  2299,  2373,  2408,  2537,  2551,  2689,  3181,
              3280,  3303,  4203,  4927,  6297,  7993, 10025, 11013, 12144],
            dtype='int64'),
 'US Orléans Loiret Football': Int64Index([ 2178,  3307,  3425,  4011,  4385,  4410,  4490,  4604,  6021,
              6360,  6477,  6501,  6779,  7236,  7466,  7809,  7872,  8031,
              8453,  8520,  9298, 10370, 10730, 11201, 11846],
            dtype='int64'),
 'US Salernitana 1919': Int64Index([ 1386,  2099,  2204,  2262,  2577,  2802,  2857,  2946,  3122,
              3576,  4205,  4589,  4780,  5464,  8290,  8538, 12360],
            dtype='int64'),
 'Udinese': Int64Index([613, 715, 847, 904, 920, 2059, 3338, 4890, 5262], dtype='int64'),
 'Ulsan Hyundai FC': Int64Index([ 2080,  2229,  2259,  2657,  3568,  3929,  3937,  4166,  4390,
              4462,  4713,  4736,  5328,  5849,  6515,  7254,  8384,  8389,
              8604,  8734,  9048, 10124],
            dtype='int64'),
 'Universidad Católica': Int64Index([ 1445,  4061,  4647,  4762,  5506,  9446,  9512, 10336, 10703,
             11717, 11791, 12071, 12379],
            dtype='int64'),
 'Universidad de Chile': Int64Index([1361, 1447, 1658, 2044, 2588, 2649, 5068, 8943, 9566, 10491,
             11901],
            dtype='int64'),
 'Unión Española': Int64Index([ 2045,  2137,  2860,  3344,  3414,  3454,  3577,  3726,  4492,
              4845,  5158,  7385,  8257,  8822,  8971,  9466,  9776, 10476,
             10805, 11157, 12072, 12109, 12287, 12883],
            dtype='int64'),
 'Unión La Calera': Int64Index([ 1739,  2177,  2232,  2417,  2721,  2778,  2990,  3629,  4419,
              5066,  5167,  5191,  5592,  5891,  6338,  7099,  8586,  9242,
             10115, 10539, 10890, 12024, 12117, 12567],
            dtype='int64'),
 'Unión de Santa Fe': Int64Index([ 1328,  1519,  2626,  3670,  5206,  7308,  7392,  8646,  8723,
              8752,  9004,  9525,  9647,  9721, 10245, 10518, 11029],
            dtype='int64'),
 'Urawa Red Diamonds': Int64Index([  958,  2673,  3080,  3504,  3527,  3716,  4607,  4750,  5495,
              6416,  7216,  8599,  9816,  9820, 10120, 10160, 11203, 11615,
             12328],
            dtype='int64'),
 'V-Varen Nagasaki': Int64Index([ 1789,  2429,  3613,  5301,  6006,  6397,  6538,  6649,  6664,
              6898,  6933,  8227,  8522,  8859,  9354,  9474,  9773,  9880,
             10069, 10492, 10651, 10798, 10897, 11000, 11957, 12157, 12224,
             12254, 12434, 12535],
            dtype='int64'),
 'VVV-Venlo': Int64Index([  786,  2713,  2745,  2808,  2825,  3066,  3478,  3539,  3806,
              4033,  4037,  4429,  4640,  5087,  5533,  6412,  6474,  6615,
             10094, 10415, 10547, 10888, 10966, 10971, 11419],
            dtype='int64'),
 'Valencia CF': Int64Index([  90,  168,  193,  203,  227,  274,  286,  299,  309,  420,  633,
              661,  809, 1270, 5703, 6094, 6378, 6899, 7538, 7899, 8527, 8912],
            dtype='int64'),
 'Valenciennes FC': Int64Index([ 1764,  1816,  2055,  2783,  3449,  3551,  4313,  4357,  4425,
              5088,  5618,  6599,  7041,  7797,  8328,  9340,  9514,  9777,
             10179, 10481, 10816, 11364, 11616, 11937, 12005, 12285],
            dtype='int64'),
 'Vancouver Whitecaps FC': Int64Index([ 1465,  2198,  2431,  2589,  2635,  2822,  2919,  3560,  3853,
              4335,  4686,  5246,  5454,  5763,  5915,  6938,  7108, 10016,
             12583, 12889],
            dtype='int64'),
 'Vegalta Sendai': Int64Index([ 1957,  2938,  3819,  4430,  4534,  5518,  5834,  5846,  6441,
              6738,  6811,  6940,  6954,  7418,  7464,  7627,  7868,  7911,
              9332,  9395,  9624, 10091, 10889, 11009, 11428, 11850, 12381],
            dtype='int64'),
 'Vejle Boldklub': Int64Index([ 2914,  3131,  3515,  3978,  6585,  6666,  6676,  6862,  7177,
              7278,  7324,  7398,  7479,  7637,  7994,  8348, 10369, 10695,
             11698, 11766, 11997, 12102, 12622, 12732, 12791, 12853],
            dtype='int64'),
 'Vendsyssel FF': Int64Index([ 3905,  4094,  4660,  4984,  6365,  6674,  6681,  6808,  6861,
              6948,  7122,  7501,  7827,  8657,  8672,  8681,  8702,  9379,
              9665, 10667, 10965, 11396, 11576, 11765, 12013, 12489, 12655],
            dtype='int64'),
 'Venezia FC': Int64Index([ 1582,  1648,  1837,  1860,  2134,  2294,  2363,  3669,  3924,
              4421,  4552,  5906,  7264,  7658,  7742,  8126,  8167,  9289,
              9844, 11276, 11471, 12023],
            dtype='int64'),
 'VfB Stuttgart': Int64Index([317, 342, 422, 451, 470, 832, 1297, 2115, 2720, 3900, 7472, 8045,
             8309, 10290],
            dtype='int64'),
 'VfL Bochum 1848': Int64Index([ 1486,  1514,  1546,  2039,  2052,  2307,  2469,  4634,  5422,
              7230,  8447,  8850,  9029, 10659, 11817, 12044],
            dtype='int64'),
 'VfL Osnabrück': Int64Index([ 2975,  3089,  3355,  3792,  3872,  4003,  4297,  4732,  4754,
              5122,  5260,  5797,  6342,  8844,  9564,  9586,  9852, 10060,
             10172, 10329, 10431, 11239, 12234, 12483, 12487],
            dtype='int64'),
 'VfL Sportfreunde Lotte': Int64Index([ 3793,  3874,  4711,  4908,  4977,  5061,  5790,  5870,  6393,
              6415,  6875,  7315,  7525,  7676,  7750,  8278,  8899,  9011,
              9408,  9677,  9688, 10230, 10267, 10625, 10754, 10978, 11485,
             11664],
            dtype='int64'),
 'VfL Wolfsburg': Int64Index([  387,   391,   406,   467,   695,   752,   759,   819,   881,
               901,   951,  4685,  5133,  8053,  9670, 10297, 10520],
            dtype='int64'),
 'VfR Aalen': Int64Index([ 1888,  2026,  3189,  3535,  3570,  3970,  4179,  5164,  5778,
              5988,  6109,  6408,  7110,  7401,  7603,  7785,  9567,  9966,
             10646, 10649, 11429, 11459, 12112, 12325],
            dtype='int64'),
 'Viktoria Plzeň': Int64Index([995, 1268, 1488, 1738, 2097, 3048, 5024, 5027, 5034, 5218, 8856,
             10143, 10586],
            dtype='int64'),
 'Villarreal CF': Int64Index([ 132,  155,  158,  236,  246,  318,  328,  367,  410,  772,  874,
             1032, 1107, 3979, 4039, 5940, 7634, 7925, 8411, 9153],
            dtype='int64'),
 'Vissel Kobe': Int64Index([   76,  2647,  2907,  3476,  3774,  3953,  4017,  4673,  5590,
              5968,  5971,  6965,  7285,  7602,  7727,  7755,  8417,  8426,
              8568,  9996, 10375, 10501, 11278, 11497, 11595, 12041, 12043,
             12451, 12462],
            dtype='int64'),
 'Vitesse': Int64Index([ 1029,  1203,  1296,  1811,  3689,  4857,  4963,  5610,  6628,
              7567,  8950,  9780, 10062, 11104],
            dtype='int64'),
 'Vitória': Int64Index([955, 1619, 1797, 1840, 1844, 2218, 2270, 2973, 3286, 4206, 4245,
             6990],
            dtype='int64'),
 'Vitória Guimarães': Int64Index([656, 839, 1120, 1237, 1630, 3372, 5577], dtype='int64'),
 'Vitória de Setúbal': Int64Index([1349, 1744, 1749, 1762, 2215, 2718, 3105, 3199, 4529, 5957, 6019,
             6753, 7131, 8570],
            dtype='int64'),
 'Vålerenga Fotball': Int64Index([ 2068,  3161,  3187,  3239,  3723,  3739,  4057,  4260,  4350,
              5241,  6573,  8370,  8996,  9008,  9518,  9714, 11526, 11841,
             12442, 12464, 12479, 12611, 12714],
            dtype='int64'),
 'Vélez Sarsfield': Int64Index([ 1612,  2102,  2609,  4082,  5173,  5315,  7009,  7985,  8204,
              9143,  9592,  9694, 10022, 10373, 10394, 11219, 11549, 11744],
            dtype='int64'),
 'Waasland-Beveren': Int64Index([ 3683,  4002,  4452,  4479,  4705,  4899,  5708,  6241,  6293,
              6303,  6600,  6648,  6842,  6952,  7414,  7506,  7675,  7802,
              8918,  9168,  9348,  9364, 10127],
            dtype='int64'),
 'Walsall': Int64Index([ 2364,  3075,  3553,  3687,  3767,  4365,  4570,  4681,  5007,
              5554,  5619,  5876,  6545,  7433,  7644,  7700,  8159,  8395,
              8608,  9183,  9350, 10152, 11306, 11953, 12351],
            dtype='int64'),
 'Waterford FC': Int64Index([ 3088,  7282,  7425,  8462,  8559,  8815,  9047,  9173,  9278,
              9775, 10055, 10264, 10711, 10898, 11437, 11486, 11657, 11720,
             12292, 12509, 12546, 12774, 12790, 12885, 12891],
            dtype='int64'),
 'Watford': Int64Index([556, 676, 748, 793, 1043, 1183, 1367, 7607, 9582, 10147, 10468,
             12683],
            dtype='int64'),
 'Wellington Phoenix': Int64Index([ 2328,  3556,  3857,  4930,  5460,  6506,  6532,  6827,  6882,
              6926,  9934, 10037, 10047, 10418, 10543, 10865, 10950, 11905,
             12449],
            dtype='int64'),
 'West Bromwich Albion': Int64Index([ 575,  686,  692,  836,  945, 1388, 1467, 1664, 2634, 3680, 4386,
             4556, 5723, 5990, 7297, 8830, 9336, 9338, 9556],
            dtype='int64'),
 'West Ham United': Int64Index([  217,   264,   277,   315,   417,   429,   568,   593,   602,
               625,   659,   802,   812,   845,   859,  1253,  1325,  5863,
              8114,  8220, 10499, 10639, 11039, 11336],
            dtype='int64'),
 'Western Sydney Wanderers': Int64Index([ 1927,  1956,  4138,  4866,  4955,  5671,  7075,  7861,  7990,
              8509,  8750, 10249, 10488, 10599, 10780, 11617, 11731, 12161,
             12674, 12742, 12776],
            dtype='int64'),
 'Wigan Athletic': Int64Index([1951, 3126, 3316, 3718, 4443, 4804, 5182, 11028, 11155, 11703,
             12021, 12026],
            dtype='int64'),
 'Willem II': Int64Index([  856,  1341,  1972,  2082,  2394,  2587,  2708,  3375,  3486,
              3624,  3682,  3852,  4055,  5634,  6177,  7641,  8806,  9194,
              9597,  9702, 10129, 10698, 11483, 12188],
            dtype='int64'),
 'Wisła Kraków': Int64Index([ 1680,  1806,  2512,  3145,  3621,  4083,  4108,  4162,  6204,
              6421,  7034,  7103,  7174,  7250,  7409,  8804, 11477, 11675,
             12107, 12344, 12408, 12557, 12643],
            dtype='int64'),
 'Wisła Płock': Int64Index([ 2909,  3907,  4012,  4355,  4692,  5242,  6528,  7213,  8055,
              8188,  8265,  8368,  8779,  9045,  9272,  9536,  9680,  9792,
             10729, 12279, 12457, 12558, 12690, 12852],
            dtype='int64'),
 'Wolfsberger AC': Int64Index([ 2064,  3264,  4273,  4878,  4902,  5415,  5869,  5872,  6294,
              6762,  7053,  7202,  7271,  7299,  7542,  8277, 10763, 11101,
             11909, 11924, 12073, 12536, 12677, 12678],
            dtype='int64'),
 'Wolverhampton Wanderers': Int64Index([  278,   485,   499,   680,   891,  1028,  1109,  2994,  4185,
              4690,  8577,  9995, 10314, 10636, 10878, 11273, 11574, 12053,
             12094, 12201],
            dtype='int64'),
 'Wycombe Wanderers': Int64Index([ 3410,  3586,  4394,  4426,  4573,  4876,  4958,  5318,  5428,
              5640,  5811,  5886,  6190,  6206,  6350,  6651,  7109,  7845,
              8282,  8602,  8758,  9924, 11036, 11178],
            dtype='int64'),
 'Yeni Malatyaspor': Int64Index([ 1071,  1373,  1701,  1963,  2242,  2806,  2948,  3361,  3886,
              4379,  5456,  6127,  7889,  8674,  9667,  9883, 10244, 10556,
             10714, 11521, 11844, 12088],
            dtype='int64'),
 'Yeovil Town': Int64Index([ 6198,  6300,  6330,  6791,  7010,  7339,  7586,  7807,  7906,
              7907,  8259,  8406,  8836,  8891,  8925,  9273,  9570,  9573,
              9781,  9797, 10070, 10296, 10721, 11376, 11683, 11868, 12215,
             12448],
            dtype='int64'),
 'Yokohama F. Marinos': Int64Index([ 2474,  2477,  2593,  3312,  4099,  4111,  4638,  5009,  5313,
              6272,  6394,  6986,  7002,  8149,  8873, 10679, 11358, 12033,
             12089, 12090, 12095, 12291, 12307, 12521, 12623, 12737],
            dtype='int64'),
 'Zagłębie Lubin': Int64Index([ 1883,  3405,  3447,  4248,  4342,  4636,  4939,  4952,  5402,
              5826,  6287,  6339,  6396,  7121,  7169,  7811,  8027,  8555,
              9911, 10050, 10512, 11930, 12197, 12444, 12793],
            dtype='int64'),
 'Zagłębie Sosnowiec': Int64Index([ 5189,  5287,  5953,  6067,  6617,  6716,  6783,  7004,  7165,
              7528,  7736,  7762,  8016,  8492,  9187,  9881, 10083, 10403,
             10482, 10514, 10757, 10886, 12175, 12563, 12693],
            dtype='int64'),
 'Çaykur Rizespor': Int64Index([ 1006,  1437,  1484,  1490,  2175,  2390,  2623,  2751,  2757,
              2877,  3443,  4059,  4893,  5247,  5248,  7887,  9815, 10087,
             10386, 10836, 11415, 11712],
            dtype='int64'),
 'Örebro SK': Int64Index([ 2722,  2940,  3974,  5015,  5067,  5185,  5681,  6004,  6199,
              6869,  6977,  7242,  7916,  8809,  8992, 10500, 10755, 11436,
             11518, 11645, 11811, 11904, 12405, 12432, 12645, 12856],
            dtype='int64'),
 'Östersunds FK': Int64Index([ 2300,  3144,  3233,  4072,  4790,  4997,  5071,  5108,  5579,
              5851,  6891,  6934,  7294,  7504,  7729,  8753,  8919, 10282,
             11489, 12721],
            dtype='int64'),
 'Śląsk Wrocław': Int64Index([ 1676,  1784,  2098,  2607,  2901,  3082,  3791,  3986,  4414,
              4587,  4682,  5375,  5398,  9042,  9393, 10142, 10144, 11314,
             11432, 11940, 11965, 12040, 12190, 12264],
            dtype='int64')}

In [29]:
grouped_df = df.groupby(['Club']).sum()
display(grouped_df)

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC Köln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Çaykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
Örebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Östersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Śląsk Wrocław,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

In [30]:
grouped_df.loc['Ajax']

Unnamed: 0             26041
Age                      275
Value              152250000
Wage                  158000
Crossing                 844
Finishing                723
HeadingAccuracy          848
ShortPassing             940
Volleys                  696
Dribbling                932
Curve                    779
FKAccuracy               680
LongPassing              878
BallControl              951
Acceleration             944
SprintSpeed              969
Agility                  969
Reactions                924
Balance                  918
ShotPower                876
Jumping                  915
Stamina                  974
Strength                 896
LongShots                720
Aggression               847
Interceptions            801
Positioning              813
Vision                   881
Penalties                710
Composure                929
Marking                  750
StandingTackle           814
SlidingTackle            756
GKDiving                 150
GKHandling               130
GKKicking                139
GKPositioning            155
GKReflexes               129
Name: Ajax, dtype: int64

In [31]:
grouped_df = df.groupby(['Club'])['Wage'].sum()
display(grouped_df)

Club
 SSV Jahn Regensburg      90000
1. FC Heidenheim 1846     76000
1. FC Kaiserslautern      33000
1. FC Köln                92000
1. FC Magdeburg           84000
                          ...
Zagłębie Sosnowiec        27000
Çaykur Rizespor          118000
Örebro SK                 36000
Östersunds FK             39000
Śląsk Wrocław             50000
Name: Wage, Length: 650, dtype: int64

In [32]:
grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.head(5))

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
Name: Wage, dtype: int64

Отметьте позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.

In [33]:
gs = df.groupby(['Position']).Wage.sum()
gs[gs > 5000000]

Position
CAM     5500000
CB      7476000
CM      6194000
GK      8784000
LB      6096000
LM      5440000
RB      5034000
RM      5098000
ST     11873000
Name: Wage, dtype: int64

# 2.8

In [34]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

                     Wage        Age  ShotPower
Nationality
Afghanistan   1250.000000  22.500000  53.750000
Albania       5931.034483  23.689655  54.551724
Algeria      15810.810811  27.027027  56.567568
Andorra       1000.000000  28.000000  58.000000
Angola        7100.000000  24.700000  63.700000
...                   ...        ...        ...
Uzbekistan    9000.000000  29.500000  71.500000
Venezuela     6611.111111  23.638889  57.222222
Wales         9529.411765  24.754902  48.558824
Zambia        2833.333333  21.833333  66.833333
Zimbabwe      5000.000000  26.555556  62.888889

[156 rows x 3 columns]

In [35]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

1. Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю цену?

In [36]:
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Wage'],ascending=False)

                   Wage         Value
Position
RF        119000.000000  2.636583e+07
LF         75125.000000  2.736250e+07
LAM        61000.000000  1.324583e+07
LS         15421.487603  5.848430e+06
RW         13822.784810  3.495738e+06
RCM        13504.166667  4.217604e+06
LCM        13497.854077  4.318090e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RAM        11800.000000  8.345000e+06
RDM        11282.608696  2.692717e+06
RCB        11270.334928  3.009055e+06
LDM        10243.243243  3.369459e+06
LCB         9753.056235  2.636516e+06
CAM         8688.783570  2.963199e+06
ST          7852.513228  2.157252e+06
LM          7472.527473  2.466174e+06
CDM         7121.562952  1.658900e+06
RM          6655.352480  2.138734e+06
LB          6083.832335  1.429032e+06
RWB         6000.000000  1.555571e+06
CM          5805.060918  1.617465e+06
LWB         5783.333333  1.931333e+06
GK          5352.833638  1.502502e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06
CF          4862.745098  1.848627e+06

2. Какова средняя зарплата футболистов на данной позиции?

In [37]:
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

# 2.9

In [38]:
df.groupby(['Nationality'])[['Club','Name']].nunique()

             Club  Name
Nationality
Afghanistan     4     4
Albania        26    29
Algeria        33    37
Andorra         1     1
Angola          9    10
...           ...   ...
Uzbekistan      2     2
Venezuela      34    36
Wales          56   101
Zambia          5     6
Zimbabwe        8     9

[156 rows x 2 columns]

In [42]:
pd.__version__

'0.25.1'

Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

`df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])`

In [52]:
club_wages = df.groupby('Club')['Wage'].agg(['mean', 'median'])
club_wages

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

In [63]:
club_wages.info(), club_wages.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 650 entries,  SSV Jahn Regensburg to Śląsk Wrocław
Data columns (total 2 columns):
mean      650 non-null float64
median    650 non-null int64
dtypes: float64(1), int64(1)
memory usage: 15.2+ KB

(None,                 mean         median
 count     650.000000     650.000000
 mean     8296.997931    7425.384615
 std     17839.974855   17729.026592
 min      1000.000000    1000.000000
 25%      1904.761905    1500.000000
 50%      2978.260870    2000.000000
 75%      7218.531469    5000.000000
 max    188090.909091  207500.000000)

In [70]:
club_wages[club_wages['median'] == club_wages['mean']].sort_values(['median'])

                           mean  median
Club
Itagüí Leones FC         1000.0    1000
Trelleborgs FF           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Kaizer Chiefs            1000.0    1000
Limerick FC              1000.0    1000
Lokomotiv Moscow         1000.0    1000
Olympiacos CFP           1000.0    1000
Orlando Pirates          1000.0    1000
PAOK                     1000.0    1000
IK Sirius                1000.0    1000
PFC CSKA Moscow          1000.0    1000
Patriotas Boyacá FC      1000.0    1000
SK Slavia Praha          1000.0    1000
Shakhtar Donetsk         1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Panathinaikos FC         1000.0    1000
IF Brommapojkarna        1000.0    1000
Viktoria Plzeň           1000.0    1000
Cork City                1000.0    1000
HJK Helsinki             1000.0    1000
Boyacá Chicó FC          1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Bohemian FC              1000.0    1000
Dundalk                  1000.0    1000
Bray Wanderers           1000.0    1000
Dynamo Kyiv              1000.0    1000
Envigado FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
AEK Athens               1000.0    1000
FC Metz                  1500.0    1500
AJ Auxerre               2000.0    2000
Stade Brestois 29        2000.0    2000
Benevento                2000.0    2000
Pohang Steelers          2000.0    2000
Heracles Almelo          2000.0    2000
CD Tondela               2000.0    2000
Kashiwa Reysol           2000.0    2000
Jeonnam Dragons          2000.0    2000
Grimsby Town             2000.0    2000
Philadelphia Union       2000.0    2000
Northampton Town         2500.0    2500
CD Feirense              4000.0    4000
Sunderland               4000.0    4000
1. FC Magdeburg          4000.0    4000
Brøndby IF               6000.0    6000
Göztepe SK               7000.0    7000
Cruzeiro                13000.0   13000

# 2.10

1. С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

In [74]:
df.groupby(['Club']).Wage.sum().Chelsea

2035000

2. Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [83]:
df[df.Age == 20].groupby(['Nationality']).Wage.max().Argentina

54000

3. Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [84]:
df[df.Age == 30].groupby(['Nationality']).Wage.max().Argentina

300000

4. Определите минимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [85]:
df[df.Age == 30].groupby(['Nationality']).Wage.min().Argentina

1000

5. Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ введите через точку с запятой без пробела.

In [92]:
df[(df.Club == 'FC Barcelona') & (df.Nationality == 'Argentina')][['Strength', 'Balance']].max()

Strength    59
Balance     95
dtype: int64

# 2.12

In [96]:
pivot = df.loc[
    df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])
].pivot_table(
    values=['Wage'],
    index=['Nationality'],
    columns=['Club'],
    aggfunc='sum'
)
display(pivot)

                           Wage
Club               FC Barcelona  Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0  205000.0          206000.0         NaN
Belgium                110000.0       NaN          230000.0    240000.0
Bosnia Herzegovina          NaN  180000.0               NaN         NaN
Brazil                 465000.0  335000.0           91000.0    570000.0
Chile                  205000.0       NaN          215000.0         NaN
Costa Rica                  NaN       NaN               NaN    195000.0
Croatia                260000.0  160000.0               NaN    420000.0
Dominican Republic          NaN       NaN               NaN    140000.0
Ecuador                     NaN       NaN          120000.0         NaN
England                     NaN       NaN          478000.0         NaN
France                 495000.0  145000.0          375000.0    459000.0
Germany                240000.0  160000.0               NaN    355000.0
Italy                       NaN  460000.0           88000.0         NaN
Ivory Coast                 NaN       NaN          105000.0         NaN
Morocco                     NaN  160000.0               NaN         NaN
Netherlands            135000.0       NaN               NaN         NaN
Poland                      NaN  125000.0               NaN         NaN
Portugal               125000.0  405000.0               NaN         NaN
Scotland                    NaN       NaN           11000.0         NaN
Serbia                      NaN       NaN          165000.0         NaN
Spain                  912000.0       NaN          260000.0   1404000.0
Uruguay                455000.0       NaN               NaN         NaN
Wales                       NaN       NaN           13000.0    355000.0