In [117]:
import pandas as pd
import os
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined = ratings.merge(movies, on="movieId", how='left')
outer = ratings.merge(movies, how='outer', on='movieId')

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [28]:
items_dict = {
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
}
purchase_log = {
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [29]:
items_df.merge(purchase_df, how='outer', on='item_idv')

    item_id   vendor  stock_count  purchase_id    price
0    417283  Samsung         54.0        101.0  13900.0
1    849734       LG         33.0        101.0   5330.0
2    132223    Apple        122.0        101.0  38200.0
3    573943    Apple         18.0        112.0  49990.0
4     19475       LG        102.0        121.0   9890.0
5   3294095    Apple         43.0        145.0  33000.0
6    382043  Samsung         77.0        145.0  67500.0
7    302948  Samsung        143.0        145.0  34500.0
8    100132       LG         60.0        221.0  11400.0
9    312394      ZTE         19.0          NaN      NaN
10   103845      NaN          NaN        145.0  89900.0

In [32]:
merged = items_df.merge(purchase_df, how='inner', on='item_id')
len(merged)

9

In [50]:
merged['tot'] = merged.stock_count * merged.price
merged[merged.tot == merged.tot.max()].item_id

6    382043
Name: item_id, dtype: int64

In [52]:
merged.tot.sum()

19729490

In [54]:
files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [73]:
import re
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
ends_with_txt_re = re.compile(r'\.txt$')
data = list(filter(lambda fn: len(ends_with_txt_re.findall(fn)) > 0, files))

In [74]:
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [76]:
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data ['subfolder'] ['ratings_8.txt', 'ratings_9.txt', 'ratings_10.txt', 'ratings_7.txt', 'ratings_6.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_1.txt', 'ratings_2.txt', 'ratings_3.txt']
data/subfolder [] ['file_in_subfolder.txt']

In [97]:
cols = ['userId', 'movieId', 'rating', 'timestamp']
data = pd.DataFrame(columns = cols)
for _, _, files in os.walk('data'):
    for fn in files:
        filename = os.path.join('data', fn)
        temp = pd.read_csv(filename, names=cols)
        data = pd.concat([data, temp])
    break
data

     userId movieId  rating   timestamp
0       483    1573     2.0  1465387568
1       483    1580     3.0  1465387435
2       483    1676     4.0  1465387586
3       483    1682     3.0  1465387384
4       483    1732     5.0  1465387406
...     ...     ...     ...         ...
9995    213   72701     2.5  1462644086
9996    213   72737     3.0  1462636677
9997    213   72919     2.5  1462637308
9998    213   72998     5.0  1462636393
9999    213   73015     2.0  1462636831

[100004 rows x 4 columns]

# 3.15

1 В каких случаях имеет смысл разделять большую таблицу на две со словарем?

2 В файле ratings.csv в столбце timestamp указано время выставления оценки. Что это за формат времени?

3 Сколько раз была выставлена низшая оценка 0.5 в наших рейтингах? Используйте файл ratings.csv.

In [109]:
len(joined[joined.rating == joined.rating.min()])

1370

4 Объедините датафреймы ratings и movies, используя параметр how='outer'.

Сколько строк в получившемся датафрейме?

In [118]:
len(outer)

100854

5 Найдите в датафрейме movies фильм с movieId=3456.

Какой у него год выпуска?

P. S. Попробуйте найти movieId этого фильма в датафрейме ratings. Это будет ключом к ответу на следующее задание.

In [119]:
outer[outer.movieId==3456]

,userId,movieId,rating,timestamp,title,genres
100839,NaN,3456,NaN,NaN,"Color of Paradise, The (Rang-e khoda) (1999)",Drama

6 Сравните количество строк в датафрейме из задания 4 (после объединения датафреймов ratings и movies) с количеством строк в ratings. Почему в данном случае число строк увеличилось?

7 Каким методом можно удалить дубликаты строк в датафрейме?

8 С помощью какого метода можно получить список файлов в заданной папке?

9 С помощью какого метода можно перебрать все файлы и папки внутри заданной?

10 Каким способом можно склеить датафреймы с помощью метода concat?

11 Какой параметр отвечает за режим склеивания датафреймов в методе concat (по столбцам или строкам)?